body{
	background-image: url("../img/homebg.jpg");
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}


title,h1{color: white;
		text-shadow: 2px 2px #000000;}
p{	text-shadow: 1px 1px #000000;}

.btn.btn-lg.btn-default{box-shadow: 0px 0px 50px #000000;}

.fa{font-size: 25px;text-shadow: 2px 2px #000000;}